<div class="panel panel-primary">
      <div class="panel-heading">
          <i class="fa fa-cloud-upload fa-fw"></i><spans class="assign">Photo(s)</spans>
      </div>

      <div class="panel-body">
          <div class="row">
              <div class="col-lg-12">
                  <div class="table-responsive">
                      <center><%= render 'dashboard/shared/ajax_loader' %></center>
                      <%= render "admin/galleries/get_index_data" %>
                      <span class="clearfix"></span>
                      <span class="paggings">
                          <%= render "admin/galleries/shared/paggings" %>
                      </span>
                  </div>

              </div>

          </div>
          <!-- /.row -->
      </div>
      <!-- /.panel-body -->
  </div>