<span>
	<%= select_tag :admin_id, options_for_select(@assign), class:"floating form-control", style:"width:92%", name:"admin_schedule[admin_schedule_members_attributes][#{@index}][admin_id]" %>
	<a href='javascript:void(0)' onclick='javascript:$(this).parent().remove()'><img src='/assets/min.png' style='margin-top:0px; padding-right:20px !important;' class="floating" id="right_more" /></a>
	<br><br>
</span>