<span>
	<%= select_tag :admin_id, options_for_select(@assign,f.present? ? f.object.admin_id : nil), class:"floating form-control", style:"width:92%", name:"admin_schedule[admin_schedule_members_attributes][#{@index.blank? ? f.object.id.to_s : @index}][admin_id]", disabled: f.present? ? current_admin.id == f.object.admin_id ? true : false : "" %>
	<% if f.present? %>
		<%= hidden_field_tag :id, f.object.id, name: "admin_schedule[admin_schedule_members_attributes][#{@index.blank? ? f.object.id.to_s : @index}][id]" %>
		<% if current_admin.id != f.object.admin_id %>
			<%= link_to image_tag("x-icon.png"), destroy_member_admin_calendars_path(id: f.object.id), method: :delete, class:"floating", id:"right_more", onclick:'javascript:$(this).parent().remove()', remote: true %>
		<% end %>		
	<% end %>
	<br><br>
</span>