<div id="comment-list">
    <div id="photo"><%=  image_tag  "#{dashboard_comment.profile}" %></div>
      <span class="time"><%= "#{dashboard_comment.created_at.strftime('%d %b %Y')}"  %></span>
    <p>
      <label>Name :</label> 
      <span><%= dashboard_comment.name %></span>
    </p>
    
    <p>
      <label>Comment :</label> 
    
    <span><%= dashboard_comment.body %></span>
    </p>
</div>
<span class="clear"></span>
