<tr>
	<td>
		<input type="checkbox" name="selected[]" id="<%= "selected-#{f.object.id}" %>" value="<%= f.object.id %>" class="check-self floating">		
	</td>
	<td>
		<%= f.text_field :name, class:"form-control" %>
	</td>
</tr>