<p>
  	<%= label_tag :sub_category, "Sub Category" %>
  	<span>(Required Field)</span><br>
  	<%= select_tag :sub_category, options_for_select(@sub_category_select, @sub_category_selected), class:"field size3" %>
</p>