<%= f.text_field :name, class:"field size6 floating"  %>
<%= f.text_field :skill, class:"field size2 floating"  %>
<div style='margin-top:-7px'>%</div>
<br>
<%= f.file_field :icon, class:"field size6 input-file file", id: "fileField", :onchange => "readIconURL(this);", style:"margin-left:75px" %>