<%= f.text_field :name, class:"form-control floating", style:"width:40% !important; margin:0px 5px 5px 0px"  %>
<%= f.text_field :skill, class:"form-control floating", style:"width:40% !important;"  %>
<div style='margin-top:-7px' class="">%
  <input type="checkbox" name="selected[]" id="<%= "selected-#{f.object.id}" %>" value="<%= f.object.id %>" class="check-self"><span style="color:red">Delete</span>
  </div>