<span class="add-designers">
	<%= select_tag :admin_id, options_for_select(@admins), name:"admin_journal[jornal_team_designers_attributes][#{@index}][admin_id]", class:"floating down-select admin-designer" %>
	<a href='javascript:void(0)' onclick='javascript:$(this).parent().remove()'><img src='/assets/min.png' style='margin-top:-30px; padding-right:20px !important;' /></a>
</span>