<div id="modal-comment" class="styled">
      <h2>
            <a href='javascript:void(0)' class='close-modal-comment close'>X</a>
            Found <b><%= object.errors.count %></b> Errors when saving process, please fix it!
      </h2>
      <div class="formModal" id="formas2" style="padding:20px;">
            <div class="form up">
                    <ol>
                          <% object.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                          <% end %>
                    </ol>
            </div>
      </div>
</div>

<script>
      $(document).ready(function() {
            $("#modal_background").fadeTo(500, 5);
            $("#modal-comment").fadeIn();
            $( '.close-modal-comment' ).click(function( ev ) {  $( '#modal-comment, #modal_background' ).fadeOut();  ev.preventDefault();} );
      })
</script>