<div id="main">
  <div class="cl">&nbsp;</div>
  <div id="content">
    <!-- Box -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2>Current Admin</h2>
      </div>
      <!-- End Box Head -->     

      <!-- Current Admin -->      
        <span class="floating">
            <div class="foto_prev">
                  <%= image_tag current_admin.avatar.url(:original),class:"admin-avatar" %> 
            </div>

            <div class="form">
              <p id="avatar">
                  <span><%= current_admin.name%></span>
              </p>
            </div>
        </span>
        <!-- End Current Admin -->      

      <% admins.each do |admin| %>
          <!-- Form -->
          <span class="floating" id="thumb">
          <div class="foto_prev">
                <%= image_tag admin.avatar.url(:original),class:"admin-avatar thumb" %> 
          </div>

          <div class="form">
            <p id="avatar" class="name-thumb">
                <span><%= admin.name%></span>
            </p>
          </div>
          </span>
      <% end %>
      <p style="height:170px;"></p>
        <!-- End Form -->
    </div>
    <!-- End Box -->
  </div>
</div>