<%= render partial: 'admin/company_profiles/admin', locals:{admins: @admins} %>
<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<%= render partial: 'admin/company_profiles/detail', locals:{admin_company_profile: @admin_company_profiles, current_admin: @current_admin} %>