<% if @galleries.blank? %>
	<h2 id="box_no_post">Sorry no post yet!</h2>
	<%= link_to "BACK", session[:url_back_dashboard],  class:"btn btn-warning pull-right", style:"margin-right:10px;" %>
	<div class="clearfix"></div>
<% else %>
	<div class="galleries_img col-sm-3-5 floating">
		<%#= link_to cl_image_tag("galleries/#{gallery.id}"), dashboard_gallery_path(gallery) %>
		<%= link_to cl_image_tag("galleries/#{1}"), dashboard_gallery_path(1) %>
		<div class="clearfix"></div>
		<span class="space"><i class="glyphicon glyphicon-heart"></i> 0</span>
		<span class="space"><i class="glyphicon glyphicon-comment"></i> 0</span>
	</div>
	<div class="clearfix"></div>
<% end %>