<div class="galleries_img col-sm-3-5 floating">
	<%#= link_to cl_image_tag("galleries/#{gallery.id}"), dashboard_gallery_path(gallery) %>
	<%= link_to cl_image_tag("galleries/#{1}"), dashboard_gallery_path(1) %>
	<div class="clearfix"></div>
	<center>
		<span class="space"><i class="glyphicon glyphicon-heart"></i> 0</span>
		<span class="space"><i class="glyphicon glyphicon-comment"></i> 0</span>
		<span class="space"><i class="glyphicon glyphicon-eye-open"></i> 0</span>
		<i class="glyphicon glyphicon-heart-empty"></i> 0
	</center>
</div>
<div class="clearfix"></div>