<div class="col-xs-12 col-sm-8 side pull-left sidebar">
	<section class="down2x">
		<article>
			<div id="index_place">
				<center><%= image_tag 'ajax-loader.gif' %></center>
			</div>
		</article>
		<nav class="clearfix"></nav>
	</section>
</div>
<% if @galleries.count > 18 %>
	<div class="col-xs-12 col-sm-8 side pull-left sidebar">
		<section class="down2x">
			<article>
				<div class="pagging" id="pagging-left">
	    				<%= will_paginate @galleries %>
				</div>
			</article>
		</section>
	</div>
<% end %>
<%= javascript_include_tag 'galleries' %>