$(".get_index").html("<tr class='ajaxs hide'><td colspan='8'><center><%= j(render 'dashboard/shared/ajax_loader') %></center></td></tr><%= j(render 'admin/projects/get_index_data') %>");
$(".paggings").html("<%= j(render 'admin/projects/shared/paggings') %>")