<h5>Full Name : <strong>
     	<%= "#{@admin_profile.name}"" #{@admin_profile.last_name}" %></strong>
</h5>
<h5>Facebook : <strong><%=@admin_profile.facebook %></strong></h5>
<h5>Email : <strong><%=@admin_profile.e_mail %></strong></h5>