<div id="modal_profile_full">
	<%= image_tag @admin_journal_issue_image.image.url(:original), class:"img_profile_issue_full", style:"position: relative;" %> 
</div>
<%= javascript_include_tag "admin/journal" %>