<%= render :partial => "admin/journal_issues/index_head", locals: {admin_journal: @admin_journal} %>
<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<%= javascript_include_tag "admin/tooltip" %>