<div id="comment-list" class="mini-field">
	<span class="time"><%= "#{comment.created_at.strftime('%d %b %Y')}"  %></span>
	<p>
		<label><b>Name :</b></label> 
		<%= comment.name %>
	</p>
	    
	<p>
		<label><b>Comment :</b></label> 
	</p>
		<%= comment.body %>
</div>
<br>