body{
    font-family: Arial !important;
  }
 h1{
  color: #3A5DF7 !important;
}
b{
  color: #AB0909 !important;
}
.journal_issue h1 a{
	color: #3A5DF7 !important;
}
.journal_issue h1 a:hover{
	color: #3A5DF7 !important;
	text-decoration: underline !important;
}