.style-4 input[type="text"],.style-4 input[type="password"],.style-4 input[type="email"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 300px;
  }
  .style-4 input[type="text"]:focus,
  .style-4 input[type="text"].focus {
    border-bottom: solid 2px #969696;
  }
.submit{
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color:#63b8ee;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #3866a3;
  display:inline-block;
  color:#fff !important;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:91px !important;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #7cacde;
  padding-top: 0px !important;
}
.submit:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
  background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color:#468ccf;
}.submit:active {
  position:relative;
  top:1px;
}
.submit-error {
  -moz-box-shadow:inset 0px 1px 0px 0px #f7bebe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7bebe;
  box-shadow:inset 0px 1px 0px 0px #f7bebe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed6363), color-stop(1, #cf4747) );
  background:-moz-linear-gradient( center top, #ed6363 5%, #cf4747 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed6363', endColorstr='#cf4747');
  background-color:#ed6363;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #a13838;
  display:inline-block;
  color:#691414;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:91px !important;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #de7c7c;
  padding-top: 0px !important;
}
.submit-error:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cf4747), color-stop(1, #ed6363) );
  background:-moz-linear-gradient( center top, #cf4747 5%, #ed6363 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf4747', endColorstr='#ed6363');
  background-color:#cf4747;
}.submit-error:active {
  position:relative;
  top:1px;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 7px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  font-weight: bold;;
}

.close:hover { background: #bded63; }

/* Form Style */
.form-background{
  background: url(https://dl.dropboxusercontent.com/u/23299152/Wallpapers/wallpaper-22705.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.login-card {
  margin-top: 20% !important;
  left: 50% !important;
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.error{
  color: red !important;
}

.img_data_index {
  width:110px; 
  height:110px; 
}

.img_data_show {
  width:170px; 
  height:180px; 
}
.img_data_show_thumb {
  width:40px; 
  height:40px; 
}