@font-face {
font-family: 'Tw Cen MT';
	src: url('/assets/fontscorecomttwcenmt.ttf') format('truetype');
}
@font-face {
font-family: 'Monotype Corsiva';
	src: url('/assets/MTCORSVA.ttf') format('truetype');
}
@font-face {
font-family: 'Franklin Gothic Book';
	src: url('/assets/franklin_gothic_book.ttf') format('truetype');
}
@font-face {
font-family: 'Arno Pro';
	src: url('/assets/franklin_gothic_book.ttf') format('truetype');
}
body{
	padding-top: 60px;
	background: #eeeded;
}
/*ASSISTANCE*/
.paddingdown1x{
	padding-top: 10px;
}
.paddingdown2x{
	padding-top: 20px;
}
.paddingdown3x{
	padding-top: 30px;
}
.paddingdown4x{
	padding-top: 40px;
}
.paddingdown5x{
	padding-top: 50px;
}
.down1x{
	margin-top:10px;
}
.down2x{
	margin-top:20px;
}
/*END ASSISTANCE*/

/*HEADER PAGE*/
.navbar{
	background: #000 !important;
	/*padding: 10px;*/
}
.navbar-brand{
	color: #fff !important;
}
.navbar-default{
	border: none !important;
}
.navbar-default .navbar-nav>li>a{
	border-top: 3px solid #000;
}
.navbar-default .navbar-nav>li>a.active{
	border-top: 3px solid #ff8800;
	/*margin-top: -3px;*/
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	border-top: 3px solid #ff8800;
	/*margin-top: -3px;*/
}
.header_background{
	background: url(/assets//header.jpg) repeat-x 0% 40%;
	height: 195px;
	margin-top: -10px !important;
}
.header_background{
	font-family: Tw Cen MT;
	font-size: 25px;
}
.header_background span{
	font-size: 18px;
	color:rgba(29, 25, 20, 1);
}
/*END HEADER PAGE*/

/*MAIN CONTENT*/
.col-xs-1-5{
	width: 9%;
	position: relative;
	min-height: 1px;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}
.container section article{
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
}
.container section.qoute article{
	background: #333333;
	padding: 40px 20px;
	border: 1px solid #ddd;
	color: #6f6f6f;
	font-family: Monotype Corsiva;
	font-style: italic;
	font-size: 30px;
}
.container .header_article{
	font-family: Arno Pro;
	border-right: 1px solid #ddd;
	margin-left: -2%;
}
.container .header_article nav{
	font-size: 35px;
	margin-bottom: -10px;
	margin-top: -5px;
}
.container header div.title{
	padding: 0px 70px !important;
}
.container header b{
	font-size: 25px;
	font-family: Franklin Gothic Book;
}
.container header nav{
	font-family: Arno Pro;
	font-size: 17px;
}
.container header nav span a{
	color: #ff8800;
}
.container header a{
	color: #000;
}
.container header a:hover{
	color: #515151;
	text-decoration: none;
}
.container header nav span a:hover{
	color: #ffa43d;
}
.offcanvas{
	margin: 20px -10px !important;
	padding: 0px !important;
}
.container p{
	padding: 0px 10px;
	text-align: justify;
}
.container p a.more-link{
	border: none;
	background: #ff8800;
	color: #fff;
	padding: 10px;
}
.container p a:hover{
	/*background: #e67b00;*/
	text-decoration: none;
}
.container footer{
	border-top: 1px solid #ddd;
	margin-top: 30px !important;
	padding: 10px 0px;
	background: #fff;
}
.container footer nav{
	padding: 10px 60px;
}
.container footer nav a{
	color: #898989;
	font-size: 12px;
}
.bread{
	background: url(/assets//qoute.jpg) no-repeat;
	width: 83px;
	height: 59px;
	float: left;
	margin-right: 0px;
}
.bread2{
	background: url(/assets//qoute2.jpg) no-repeat;
	width: 83px;
	height: 59px;
	float: right;
	margin-right: 10px;
}
.related .contents{
	padding: 10px 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.related .contents:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.related h3, .comments h3, .comments_form h3{
	margin-top: 0px;
	font-family: Franklin Gothic Book;
	font-weight: bold;
}
.comments article img{
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #ddd;
}
.comments article span{
	font-family: Franklin Gothic Book;
	font-size: 18px;
}
.comments article span i{
	font-size: 15px !important;
}
.comments article span.pull-right{
	font-size: 15px;
	color: #ff8800;
}
.comments article.reply{
	background: #F7F7F7;
}
.form-control{
	border-radius: 0px;
	margin-top: -5px;
}
.form-group span{
	color: #808080;
}
.btn{
	border-radius: 0px;
}
.btn-warning{
	background: #ff8800;
}
/*END MAIN CONTENT*/

/*SIDEBAR CONTENT*/
.sidebarside article{
	padding: 20px !important; 
}
.sidebarside article input[type="text"]{
	border: none;
	background: #f2f2f2;
	padding: 10px 10px 10px 25px;
	width: 100%;
	background: #F1F1F1 url(/assets//search.jpg) no-repeat !important;
	background-position: 7px 15px !important;
}
	/*----- Tabs -----*/
	.tabs {
	    width:100%;
	    display:inline-block;
	    border: 1px solid #ddd;
	    font-family: Franklin Gothic Book;
	    /*border-bottom: 1px dashed #93B7F7 !important;*/
	}
	.tabs ul{
		padding: 0px;
	}
	.tabs article{
		border: none !important;
	}
	.tabs article.tabs_article{
		background: #f2f2f2 !important;
		width: 50%;
		float: left;
	}
	.tabs article.active{
		background: #fff !important;
	}
	 
	/*----- Tab Links -----*/
	.tab-links:after {
		display:block;
		clear:both;
		contents:'';
	}

	.tab-links li {
		margin:0px 0px;
		float:left;
		list-style:none;
	}

	.tab-links a {
		text-decoration: none;
		display:inline-block;
		color: #000;
		font-size:16px;
		font-weight:bold;
		transition:all linear 0.15s;
	}

	.tab-links a:hover {
		text-decoration: none;
	}
	li.active a{
		text-decoration: none !important;	
	} 
	li.active a:hover {
		text-decoration: underline !important;
	}
	li.active a, li.active a:hover {
		font-weight: bold;
		border: none;
	}
	.tab {
		display:none;
	}

	.tab.active {
		display:block;
	}
	.tab a{
		color: #000;
	}
	.tab a:hover{
		color: #515151;
		text-decoration: none;
		background-color: none !important;
	}
	/*End Tab*/
.link{
	padding-top: 10px !important;
	padding-left: 45px !important;
}
.sidebarside a:hover{
	text-decoration: none !important;
}
.socmed_1{
	background: url(/assets//social_media.jpg) 0px 0px no-repeat;
	width: 41px;
	height: 41px;
	float: left;
}
.socmed_2{
	background: url(/assets//social_media.jpg) -43px 0px no-repeat;
	width: 41px;
	height: 41px;
	float: left;
}
.socmed_3{
	background: url(/assets//social_media.jpg) -86px 0px no-repeat;
	width: 41px;
	height: 41px;
	float: left;
}
.sidebarside table{
	background: #f3f3f3;
	width: 100%;
	text-align: center;
}
.sidebarside table tr th{
	background-color: #ff8800;
	color: #fff;
	padding: 10px;
	text-align: center;
}
.sidebarside table tr.week td{
	background: #f9b160;
	color: #fff;
	font-weight: bold;
}
.sidebarside table tr td{
	padding: 10px;
}
.sidebarside table tr.two{
	background: #efefef;
}
.sidebarside table tr td.current{
	background: #ff8800;
	color: #fff;
}
.sidebarside table tr td.agenda{
	border: 2px solid #f9b160;
}
.agenda b{
	color: #ff8800;
}
.category{
	margin-top: 10px !important;
	float: left;
	margin-right: 5px;
	margin-bottom: 15px;
}
.category span{
	background: #323232;
	padding: 10px;
	color: #909797;
	font-size: 12px;
}
.not-month{
	color: rgba(207, 207, 207, 1);
}
/*END SIDEBAR CONTENT*/

/*FOOTER SECTION*/
footer{
	background: #101010;
	padding: 20px;
}
footer .container section article{
	background: none;
	border: none;
	padding: 0px;
	color: #fff;
}
footer .container section article b{
	font-size: 16px;
}
footer a{
	color: #6f6f6f;
}
footer a:hover{
	color: #6f6f6f;
}
footer nav{
	font-size: 12px;
	color: #6f6f6f;
}
footer hr{
	border-top: 1px solid #6f6f6f;
}
footer input[type="text"].subscribe{
	border: none;
	padding: 8px;
	width: 100%;
	background: #2a2a2a;
}
footer button{
	background: #ff8800;
	border: none;
	padding: 8px;
	width: 100%;
}
footer ul li{
	margin-left: -23px !important;
	color: #6f6f6f;
}
footer ul li hr{
	margin-left: -15px !important;
}
.end{
	background: #000;
}
.end section article{
	padding: 0px;
	background: none;
	border: none;
	margin-top: -10px;
	margin-bottom: 10px;
	color: #6f6f6f;
	font-size: 12px;
}
.end section article span{
	color: #ff8800;
}
tr.week{background-color: #000 !important}
/*END FOOTER SECTION*/

/*MODAL SECTION*/
.not_ok, .not_fine{
	background-color: #99FE8F;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.not_fine{
	background-color: rgba(234, 173, 173, 1) !important;
}
/*END MODAL SECTION*/

/*GALLERIES SECTION*/
.galleries_img{
	border: 1px #eee solid;
	padding: 10px;
	font-size: 16px;
	margin-right: 14px;
	margin-bottom: 20px;
}
.last{
	margin-right: 0px !important;
}
.galleries_img img{
	padding-bottom: 5px;
	width: 205px;
}
.floating{
	float: left;
}
.space{
	padding-right: 10px;
}
.col-sm-3-5{
	width: 31.3333%;
}
.subtitle{
	color: #000;
}
.subtitle span{
	color: 
}
.admin-comment{width: 45px;}
/*END GALLERIES SECTION*/