<div class="end">
	<div class="container clearfix">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<section class="down2x">
					<article>
						&copy; Copyright <span>Sampulkreativ</span> 2015
					</article>
				</section>
			</div>
		</div>
	</div>
</div>