<div id="footer"> {<%= link_to Admin::CompanyProfile.last.name, dashboard_profile_path(1) %>} Copyrights 2014 - All Rights reserved!<br />
        Designed by <a href="javascript:void(0)">Hasan Al Farisi</a> for <%= link_to Admin::CompanyProfile.last.name, dashboard_profile_path(1) %><br />
        Valid XHTML and CSS 
      </div>