<div class="modal fade over-flow-block table-responsive" id="waitDialog">
  <div class="modal-dialog">
    <div class="modal-content" style="margin: 35% auto 65% auto;">
      <div class="modal-header">
		    <h4 class="modal-title">Processing...</h4>
      </div>
		  <div class="modal-body">
			  <div class="progress progress-striped active" id="progress-parent">
		      <div class="progress-bar progress-bar-warning" id="wait-progress"></div>
		    </div>
		  </div>
    </div>
  </div>
</div>