<div  id="notice">
	<div class="msg-notice msg-ok"><%= flash[:warning] %><a href="javascript:void(0)" class="close-notice close"></a><br></div><br>
</div>
<script>
	$(".close-notice").click(function(){
		$("#notice").remove()
	})
</script>