<div class="sidebar-a">
      <div class="sidebar-a-top">
            <div class="sidebar-a-bottom">
            	     <% @admin_advertises.each do |admin_advertise| %>
                  		<div class="sidebar-banner"><%= image_tag admin_advertise.image.url(:original), width:"125px", height:"125px" %></div>
                  <% end %>
              </div>
      </div>
      
  


  