<div id="sidebar">
          <div class="clear"></div>
          <div class="sidebar-box">
            <h3>Categories</h3>
            <ul>
            <% @categories_list.each do |category| %>
                    <li class="cat-item">
                          <%= link_to "#{category.name}", dashboard_home_show_categories_path(category) %>
                    </li>
                    <ul class="sub_side_menu">
                    <% category.sub_categories.each do |sub_category| %>
                          <li><%= link_to sub_category.name, dashboard_home_show_sub_categories_path(sub_category) %></li>
                     <% end %>
                    </ul>
            <% end %>
            </ul>
          </div>
          <div class="sidebar-box">
            <h3>Recent Posts</h3>
            <ul>
            <% @recent_posts.each do |article| %>
                  <li><%= link_to article.title, dashboard_home_path(article) %></li>
            <% end %>
            </ul>
          </div>
          <div class="sidebar-box">
            <h3>Galleries</h3>
            <ul>
              <% @galleries.each do |gallery| %>
                  <li><%= link_to gallery.name, dashboard_gallery_path(gallery) %></li>
              <% end %>
            </ul>
          </div>
        </div>
</div>
        <div class="clear"></div>