<div class="sidebar-ads">
      <div class="sidebar-ads-top">
            <div class="sidebar-ads-bottom">
                  <div class="sidebar-banner"><a href="#"><%= image_tag "banner_125x125.jpg" %></a></div>
                  <div class="sidebar-banner"><a href="#"><%= image_tag "banner_125x125.jpg" %></a></div>
                  <div class="sidebar-banner"><a href="#"><%= image_tag "banner_125x125.jpg" %></a></div>
                  <div class="sidebar-banner"><a href="#"><%= image_tag "banner_125x125.jpg" %></a></div>
                  <div class="clear"></div>
              </div>
      </div>
      
  


  