<% if flash[:notice] %>
	<div class="row" id="notice">
	    	<!-- Welcome -->
	    		<div class="col-lg-12">
	        		<div class="alert alert-info">
	        			<%= flash[:notice].html_safe %>
	            			<a href="javascript:void(0)" class="pull-right close-notice"><b>X</b></a>
	        		</div>
	    		</div>
	    	<!--end  Welcome -->
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="row" id="alert">
	    	<!-- Welcome -->
	    		<div class="col-lg-12">
	        		<div class="alert alert-danger">
	        			<%= flash[:alert] %>
	            			<a href="javascript:void(0)" class="pull-right close-alert"><b>X</b></a>
	        		</div>
	    		</div>
	    	<!--end  Welcome -->
	</div>
<% end %>

<script>
	$(".close-notice").click(function(){
		$("#notice").remove()
	})
	$(".close-alert").click(function(){
		$("#alert").remove()
	})
</script>
