<div class="right">
  	<%= form_tag article_search_admin_articles_path do %>
  	  	<%= label_tag :title, "Search Articles" %>
	  	<%= text_field_tag :title, "",placeholder:"Title", class:"field small-field" %>
	  	<%= submit_tag "Search", class:"button" %>
	<% end %>
</div>