<div class="box">  
  <div class="box-head">
    <h2>Projects</h2>
  </div>
  <!-- End Box Head-->
<%@admin_journalses = Admin::Journal.order("created_at DESC").is_allowed(current_admin.id,nil)%>
   <div class="box-content">
    <ul class="list">
    <% if @admin_journalses.present? %>
      <% @admin_journalses.each do |journal| %>
        <li>
          <span class="floating"><%= link_to "#{journal.title}", admin_journal_path(journal) %></span>
          <span class="right" style="font-weight:normal !important">
                <%= generated_status(journal.status_id).html_safe %>
          </span>
          <div class="cl">&nbsp;</div>
        </li>
      <%end%>
     <% else %> 
        <li>No Project Yet</li>
    <% end%>
    </ul>
  </div>
    <!-- End Sort -->  
</div>