<div class="box">  
  <div class="box-head">
    <h2>Journal Status</h2>
  </div>
  <!-- End Box Head-->

   <div class="box-content">
    <ul class="list">
      <% @journal_statuses.each do |status| %>
        <li class="padding_down">
          <span style="font-weight:normal !important" class="floating">
                <%= generated_status(status.id).html_safe %>
          </span>
          <span class="right">
            <%= link_to generated_count_per_status(status.id), admin_journal_issue_list_data_by_status_path(status.id), class:"notif" %>
          </span>
          <div class="cl">&nbsp;</div>
          <div class="down">&nbsp;</div>
        </li>
      <%end%>
    </ul>
  </div>
    <!-- End Sort -->  
</div>