<!DOCTYPE html>
<html>
<head>
  <title>Login to Administrator</title>
  <%= stylesheet_link_tag "portal", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body class="form-background" style="margin-top:-130px;">
  <%= yield %>
</body>
</html>
